html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", X-LocaleSpecific, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
}

.main {
  height: 100%;
}

.sidebar {
  background: #C13832;
  float: left;
  width:20vw;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 2em;
  padding: 3em 1em 0;
}

.sidebar li {
  border-radius: 4px;
  margin-bottom: .5em;
}

.sidebar li a {
  display: block;
  width: 100%;
  padding: 0 .4em;
}

.sidebar li.active,
.sidebar li:hover {
  background: #fff;
}

.sidebar li.active a,
.sidebar li:hover a {
  color: #C13832;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

  .sidebar a:hover {
    color: #eee;
  }

.content {
  padding-top: .5em;
  padding-left: 21vw;
}

.content h1 {
  font-size: 1.5em;
  margin-top: 0;
}
