body {
  font-family: Arial, sans;
  font-size: .7em;
}

.generic-form {
  background: #fff;
  padding: 1em;
}

.generic-form .form-row {
  padding-top: 1em;
}

.generic-form .form-row label {
  display: block;
  width: 350px;
}

.generic-form .form-row input[type=text] {
  width: 350px;
}

.generic-form .form-row select {
  display: block;
}

.generic-form .array-item {
}

.generic-form .array-item-add {
  margin-top: 1em;
}

.generic-form .array-item-remove {
}
